<ion-header>
  <ion-toolbar>
    <ion-title>showcourse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col><label>Id_Course</label></ion-col>
      <ion-col><label>Name_Course</label></ion-col>
      <ion-col><label>Update</label></ion-col>
      <ion-col><label>Delete</label></ion-col>

    </ion-row>
    <ion-row *ngFor='let data of getdataAllcourse;let i = index'>
      <ion-col><label>{{data.idCourse}}</label></ion-col>
      <ion-col><label>{{data.nameCourse}}</label></ion-col>

      <ion-col>
        <ion-button color="primary" (click)="edit_Course(data.idCourse)"></ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="danger" (click)="delete_Course(data.idCourse)"></ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
