<ion-header>
  <ion-toolbar>
    <ion-title>teacher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-row text-center>
      <ion-col><label>Username</label></ion-col>
      <ion-col><label>FirstName_Teacher</label></ion-col>
      <ion-col><label>LaseName_Teacher</label></ion-col>
      <ion-col><label>Email_Teacher</label></ion-col>
      <ion-col><label>Edit</label></ion-col>

    </ion-row>

    <ion-row text-center>
      <ion-col>
        <ion-label>tim</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>timber</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>numtalboot</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>timber_numtalboot@hotmail.co.th</ion-label>
      </ion-col>
      <ion-col>
        <ion-button color="light" ></ion-button>
      </ion-col>

    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row text-center>
      <ion-col><label>รายวิชา</label></ion-col>
      <ion-col><label>เพิ่มรายวิชา</label></ion-col>
      <ion-col><label>ลบรายวิชา</label></ion-col>

    </ion-row>

    <ion-row text-center>
     
      <ion-col>
        <ion-label>programer2</ion-label>
      </ion-col>
      <ion-col>
        <ion-button color="light" ></ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" ></ion-button>
      </ion-col>

    </ion-row>
  </ion-card>

</ion-content>