<ion-header>
  <ion-toolbar>
    <ion-title>teacher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="all_DataTeacher" (ngSubmit)="edit_Teaccher()" class="text-center">
    <ion-card>
      <ion-row>

        <ion-col><label>Name</label></ion-col>
        <ion-col><label>Status</label></ion-col>
        <ion-col><label>Email</label></ion-col>

      </ion-row>

      <ion-row>

        <ion-col>
          <ion-input disabled formControlName="nameTeacher"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input disabled formControlName="statusTeacher"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input disabled formControlName="emailTeacher"></ion-input>
        </ion-col>
   
      </ion-row>
    </ion-card>

  </form>
</ion-content>