<ion-header>
  <ion-toolbar>
    <ion-title>detailcourseteacher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    
    <ion-row  text-center>

      <ion-col><label>รหัสวิชา</label></ion-col>
      <ion-col><label>ชื่อวิชา</label></ion-col>
    </ion-row>
      <ion-row *ngFor ='let c of getdataAllteacher;' text-center>
        <ion-col><label>{{c.idCourse}}</label></ion-col>
        <ion-col><label>{{c.nameCourse}}</label></ion-col>
      </ion-row>

  </ion-card>

</ion-content>
