<ion-header>
  <ion-toolbar>
    <ion-title>detailcourseteacher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>
    
    <ion-row  text-center>

      <ion-col><label>รหัสวิชา</label></ion-col>
      <ion-col><label>ชื่อวิชา</label></ion-col>
      <ion-col><label>เพิ่มวิชาเรียน</label></ion-col> 

    </ion-row>
      <ion-row *ngFor="let t of datat" text-center>
        <ion-col><label>{{t.idCourse}}</label></ion-col>
        <ion-col><label>{{t.nameCourse}}</label></ion-col>
        <ion-col><ion-button  color="dark" (click)='AddStudentToCourse(t.idCourse)'>เพิ่มวิชาเรียน</ion-button></ion-col>
      </ion-row>
     
    </ion-card>

</ion-content>
 