<ion-header>
  <ion-toolbar>
    <ion-title>updateteacher</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="all_DataTeacher" (ngSubmit)="edit_Teaccher()" class="text-center">
    <ion-card>
      <ion-row>
        <ion-col><label>Username</label></ion-col>
        <ion-col><label>Password</label></ion-col>
        <ion-col><label>Id</label></ion-col>
        <ion-col><label>Name</label></ion-col>
        <ion-col><label>Status</label></ion-col>
        <ion-col><label>Email</label></ion-col>
        <ion-col><label>Update</label></ion-col>
        <ion-col><label>Cancel</label></ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-input formControlName="usernameTeacher"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input formControlName="passwordTeacher"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input formControlName="idTeacher"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input formControlName="nameTeacher"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input formControlName="statusTeacher"></ion-input>
        </ion-col>
        <ion-col>
          <ion-input formControlName="emailTeacher"></ion-input>
        </ion-col>
        <ion-col>
          <ion-button color="primary" type="submit">update</ion-button>
        </ion-col>

        <ion-col>
          <ion-button color="danger" routerLink="/showteacher">cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>

  </form>

  <!-- <form [formGroup]="all_DataTeacher" (ngSubmit)="edit_Teaccher()" text-center>
    <ion-card padding>
      <ion-row>
        <ion-col text-right>
          <ion-label>username_Teacher :</ion-label>
        </ion-col>
        <ion-input formControlName="username_Teacher" text-left></ion-input>
      </ion-row>

      <ion-row>
        <ion-col text-right>
          <ion-label>password_Teacher :</ion-label>
        </ion-col>
        <ion-input formControlName="password_Teacher" text-left color="danger"> </ion-input>
      </ion-row>

      <ion-row>
        <ion-col text-right>
          <ion-label>id_Teacher :</ion-label>
        </ion-col>
        <ion-input formControlName="id_Teacher" text-left color="danger"></ion-input>
      </ion-row>

      <ion-row>
        <ion-col text-right>
          <ion-label>firstName_Teacher :</ion-label>
        </ion-col>
        <ion-input formControlName="firstName_Teacher" text-left color="danger"></ion-input>
      </ion-row>

      <ion-row>
        <ion-col text-right>
          <ion-label> laseName_Teacher :</ion-label>
        </ion-col>
        <ion-input formControlName="laseName_Teacher" text-left color="danger"></ion-input>
      </ion-row>

      <ion-row>
        <ion-col text-right>
          <ion-label> email_Teacher :</ion-label>
        </ion-col>
        <ion-input formControlName="email_Teacher" text-left color="danger"></ion-input>
      </ion-row>
      <ion-button expand="small" color="light" type="submit">edit</ion-button>
      <ion-button expand="small" color="light" routerLink="/home">home</ion-button>
    </ion-card>
  </form> -->

</ion-content>