<ion-header>
  <ion-toolbar>
    <ion-title>updatelistnamestudent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card text-center><br>
    <ion-row text-center>
      <ion-col><label>Id</label></ion-col>
      <ion-col><label>Name</label></ion-col>
      <ion-col><label>Status</label></ion-col>
      <ion-col><label>Email</label></ion-col>
      <ion-col><label>SCORE MID</label></ion-col>
      <ion-col><label>SCORE FINAL</label></ion-col>
      <ion-col><label>SCORE ALL</label></ion-col>
      <ion-col><label>GRADE</label></ion-col>
      <ion-col><label>EDIT</label></ion-col>
    </ion-row>
    <br>
    <ion-row text-center>
      <ion-col><label>100</label></ion-col>
      <ion-col><label>ประยวย หัวคุด</label></ion-col>
      <ion-col><label>นักเรียน</label></ion-col>
      <ion-col><label>thailover@hotmail.co.th</label></ion-col>
      <ion-col><label> 0 </label></ion-col>
      <ion-col><label> 0 </label></ion-col>
      <ion-col><label> 0 </label></ion-col>
      <ion-col><label> F </label></ion-col>
      <ion-col>
        <ion-button color="dark">update</ion-button>
      </ion-col>
    </ion-row>
  
    <ion-col>
      <ion-button color="dark">cancel</ion-button>
    </ion-col>
  
  </ion-card>
</ion-content>
