<ion-header>
  <ion-toolbar>
    <ion-title>SHOWTEACHER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col><label>ID_teacher</label></ion-col>
      <ion-col><label>NAME_teacher</label></ion-col>
      <ion-col><label>TYPE_status</label></ion-col>
      <ion-col><label>GENDER</label></ion-col>
      <ion-col><label>EDIT</label></ion-col>
      
    </ion-row>
    <ion-row *ngFor='let data of listteacher'>
      <ion-col class="b"><label>{{data.id_teacher}}</label></ion-col>
      <ion-col class="b"><label>{{data.name_teacher}}</label></ion-col>
      <ion-col class="b"><label>{{data.type_status}}</label></ion-col>
      <ion-col class="b"><label>{{data.gender}}</label></ion-col>
      <ion-col colspan="2">
        <ion-button class="b" expand="small" color="primary" (click)="getTeacherById(data.id_teacher)"></ion-button>
        <ion-button class="b" expand="small" color="danger" (click)="deleteTeacher(data.id_teacher)"></ion-button>
      </ion-col>
    </ion-row>
    </ion-card>
    
    <ion-card>
    <ion-button expand="full"routerLink="/register">register</ion-button>
    <ion-button expand="full"routerLink="/calculate">calculate</ion-button>
    </ion-card>
</ion-content>
