<ion-header>
  <ion-toolbar>
    <ion-title>SHOWTEACHER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-row text-center>

      <ion-col><label>Id</label></ion-col>
      <ion-col><label>Name</label></ion-col>
      <ion-col><label>Status</label></ion-col>
      <ion-col><label>Email</label></ion-col>
      <ion-col><label>SelectCourse</label></ion-col>
      <ion-col><label>Confirm</label></ion-col>

    </ion-row>

    <form [formGroup]="courseData" (ngSubmit)="AddCourseTeacher()">
      <ion-row text-center *ngIf="showDatateacher != null">
        <ion-col><label>{{ showDatateacher.idTeacher }}</label></ion-col>
        <ion-col><label>{{ showDatateacher.nameTeacher }}</label></ion-col>
        <ion-col><label>{{ showDatateacher.statusTeacher }}</label></ion-col>
        <ion-col><label>{{ showDatateacher.emailTeacher }}</label></ion-col>


        <ion-col>
          <label class="item item-input item-select">
            <div class="input-label"></div>
            <ion-select placeholder="เลือกวิชา" formControlName="id_Course" [(ngModel)]="data" (ionChange)="chang(data)">
              <ion-select-option *ngFor="let s of showCourse" value="{{ s.idCourse  }}">{{ s.nameCourse }}</ion-select-option>
            </ion-select>
          </label>
        </ion-col>

        

        <ion-col>
          <ion-button color="primary" type="submit">เพิ่มวิชาเรียน</ion-button>
        </ion-col>
      </ion-row>

    </form>


  </ion-card>

  <ion-card>
    
    <ion-row  text-center>

      <ion-col><label>รหัสวิชา</label></ion-col>
      <ion-col><label>ชื่อวิชา</label></ion-col>
    </ion-row>
      <ion-row *ngFor ='let s of  a' text-center>
        <ion-col><label>{{s.idCourse}}</label></ion-col>
        <ion-col><label>{{s.nameCourse}}</label></ion-col>
      </ion-row>



    

  </ion-card>


</ion-content>