



<ion-content padding class="background"><br><br><br><br><br><br><br><br><br><br><br>

  <div class="ion-text-center">
    <h1 style="color:rgb(255, 255, 255);">SCHOOL</h1>     
  </div><br><br>
 
 
<ion-row>
  <ion-col  style="text-align:center;">
 
    <button class="button" routerLink="/login">LOGIN</button>
  </ion-col>
 </ion-row>

 <ion-row>
  <ion-col  style="text-align:center;">
 
    <button class="button2" routerLink="/register">REGISTER</button>
  </ion-col>
 </ion-row>

 <ion-row>
  <ion-col  style="text-align:center;">
 
    <button class="button3" routerLink="/addcourse">ADDCOURSE</button>
  </ion-col>
 </ion-row>
  
 
</ion-content>

