.background{
    --ion-background-color:#0794a7 ;
}
h1 {
    font-size: 50px;
  }
.button {
    background-color: rgb(0, 91, 196); /* Green */
    border: none;
    color: white;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
  }
  .button2{
    background-color: rgb(255, 255, 255); /* Green */
    border: none;
    color: rgb(175, 175, 175);
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
  }
  .button3{
    background-color: rgb(12, 6, 94); /* Green */
    border: none;
    color: rgb(175, 175, 175);
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
  }
  
  
