<ion-header>
  <ion-toolbar>
    <ion-title>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-center>

    <ion-label >REGISTER</ion-label>

    <ion-select [(ngModel)]="statusop">
      <ion-select-option value="student">STUDENT</ion-select-option>
      <ion-select-option value="teacher">TEACHER</ion-select-option>
    </ion-select>
  </ion-item>

  <form [formGroup]="studentData" (ngSubmit)="add_Student()">
    <div *ngIf="statusop == 'student'"text-center>

      <ion-card>
        <ion-label>Username_Student</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='username_Student'></ion-input><br>

        <ion-label>Password_Student</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='password_Student'></ion-input>

        <ion-label>Id_Student</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='id_Student'></ion-input>

        <ion-label>FirstName_Student</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='firstName_Student'></ion-input>

        <ion-label>LaseName_Student</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='laseName_Student'></ion-input>

        <ion-label>Email_Student</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='email_Student'></ion-input>
      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="add_Student(data)">addstudent</ion-button>
          <ion-button color="danger" routerLink="/login">cancle</ion-button>
        </ion-col>
      </ion-row><br>
    </div>
  </form>

  <form [formGroup]="teacherData" (ngSubmit)="add_Teacher()">
    <div *ngIf="statusop == 'teacher'" text-center>

      <ion-card>
        <ion-label>Username_Teacher</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='username_Teacher'></ion-input><br>

        <ion-label>Password_Teacher</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='password_Teacher'></ion-input>

        <ion-label>Id_Teacher</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='id_Teacher'></ion-input>

        <ion-label>FirstName_Teacher</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='firstName_Teacher'></ion-input>

        <ion-label>LaseName_Teacher</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='laseName_Teacher'></ion-input>

        <ion-label>Email_Teacher</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='email_Teacher'></ion-input>
      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="add_Teacher(data)">addteacher</ion-button>
          <ion-button color="danger" routerLink="/login">cancle</ion-button>
        </ion-col>
      </ion-row><br>
    </div>
  </form>

</ion-content>