<ion-header>
  <ion-toolbar>
    <ion-title>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-center>

    <ion-label padding>REGISTER</ion-label>

    <ion-select [(ngModel)]="statusop">
      <ion-select-option value="student">STUDENT</ion-select-option>
      <ion-select-option value="teacher">TEACHER</ion-select-option>
    </ion-select>
  </ion-item>


  <div *ngIf="statusop == 'student'" text-center>

    <ion-card>
      <ion-label padding position="floating">ID STUDENT</ion-label>
      <ion-input type="text" disabled placeholder="Not-Edit"></ion-input><br>

      <ion-label position="floating">INSERT STUDENT</ion-label>
      <ion-input type="text"></ion-input>

      <!-- <ion-label position="floating">Insert score_sudent</ion-label>
      <ion-input type="text" disabled [(ngModel)]="score_sudent" placeholder="Not-Edit"></ion-input> -->

      <ion-label position="floating">INSERT STATUS</ion-label>
      <ion-input type="text"></ion-input>

      <ion-label position="floating">INSERT GENDER</ion-label>
      <ion-input type="text"></ion-input>
    </ion-card>

    <ion-row>
      <ion-col>
        <ion-button color="dark" (click)="addStudent()">addstudent</ion-button>
        <ion-button color="danger" routerLink="/register">cancle</ion-button>
      </ion-col>
    </ion-row><br>

  </div>
  <div *ngIf="statusop == 'teacher'" text-center>
    <form class="backgroundup" [formGroup]="teacherData" (ngSubmit)="addTeacher()">
      <ion-card>
        <ion-label position="floating">ID Teacher</ion-label>
        <ion-input type="text" disabled placeholder="Not-Edit"></ion-input><br>

        <ion-label position="floating">INSERT NAME</ion-label>
        <ion-input type="text"></ion-input>

        <ion-label position="floating">INSERT STATUS</ion-label>
        <ion-input type="text"></ion-input>

        <ion-label position="floating">INSERT GENDER</ion-label>
        <ion-input type="text"></ion-input>


      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="addTeacher()">addteacher</ion-button>
          <ion-button color="danger" routerLink="/register">cancle</ion-button>
        </ion-col>
      </ion-row><br>

    </form>
  </div>

</ion-content>