<ion-header>
  <ion-toolbar>
    <ion-title>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item text-center>

    <ion-label >REGISTER</ion-label>

    <ion-select [(ngModel)]="statusop">
      <ion-select-option value="student">STUDENT</ion-select-option>
      <ion-select-option value="teacher">TEACHER</ion-select-option>
    </ion-select>
  </ion-item>

  <form [formGroup]="studentData" (ngSubmit)="add_Student()">
    <div *ngIf="statusop == 'student'"text-center>

      <ion-card>
        <ion-label>Username</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='usernameStudent'></ion-input><br>

        <ion-label>Password</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='passwordStudent'></ion-input>

        <ion-label>Id</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='idStudent'></ion-input>

        <ion-label>Name</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='nameStudent'></ion-input>

        <label class="item item-input item-select">Status
          <div class="input-label" ></div><br>

          <select formControlName='statusStudent'>
           
            <option>ครู/อาจารย์</option>
            <option>นักเรียน</option>
           
          </select>
        </label><br><br>

        <ion-label>Email</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='emailStudent'></ion-input>
      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="add_Student(data)">addstudent</ion-button>
          <ion-button color="danger" routerLink="/login">cancle</ion-button>
        </ion-col>
      </ion-row><br>
    </div>
  </form>

  <form [formGroup]="teacherData" (ngSubmit)="add_Teacher()">
    <div *ngIf="statusop == 'teacher'" text-center>

      <ion-card>
        <ion-label>Username</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='usernameTeacher'></ion-input><br>

        <ion-label>Password</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='passwordTeacher'></ion-input>

        <ion-label>Id</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='idTeacher'></ion-input>

        <ion-label>Name</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='nameTeacher'></ion-input>

        <label class="item item-input item-select" >Status
          <div class="input-label" ></div><br>

          <select formControlName='statusTeacher' >
            <option>ครู/อาจารย์</option>
            <option>นักเรียน</option>
           
          </select>
        </label><br><br>

        <ion-label>Email</ion-label>
        <ion-input placeholder="กรุณากรอกข้อมูล" formControlName='emailTeacher'></ion-input>
      </ion-card>

      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="add_Teacher(data)">addteacher</ion-button>
          <ion-button color="danger" routerLink="/login">cancle</ion-button>
        </ion-col>
      </ion-row><br>
    </div>
  </form>

</ion-content>