<ion-header>
  <ion-toolbar>
    <ion-title>showstudent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-row>
      <ion-col><label>Username_Student</label></ion-col>
      <ion-col><label>Password_Student</label></ion-col>
      <ion-col><label>Id_Student</label></ion-col>
      <ion-col><label>FirstName_Student</label></ion-col>
      <ion-col><label>LaseName_Student</label></ion-col>
      <ion-col><label>Email_Student</label></ion-col>
      <ion-col><label>Edit</label></ion-col>
      <ion-col><label>Delete</label></ion-col>

    </ion-row>
    <ion-row *ngFor='let data of getdataAllstudent;let i = index'>
      <ion-col><label>{{data.username_Student}}</label></ion-col>
      <ion-col><label>{{data.password_Student}}</label></ion-col>
      <ion-col><label>{{data.id_Student}}</label></ion-col>
      <ion-col><label>{{data.firstName_Student}}</label></ion-col>
      <ion-col><label>{{data.laseName_Student}}</label></ion-col>
      <ion-col><label>{{data.email_Student}}</label></ion-col>
      <ion-col>
        <ion-button color="primary" (click)="edit_Student(data.id_Student)"></ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="danger" (click)="delete_Student(data.id_Student)"></ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>